{% extends "layout.html" %}
{%block content %}
<title>PARC- BLOG</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blog.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blog_responsive.css')}}">
	<!-- Home -->

	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/senior.png')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_text">L'actualité <span>du PARC</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">

				<!-- Blog Posts -->
				<div class="col-lg-9">
					<div class="blog_posts">


						{% for post in posts%}
							<!-- Blog Post -->
							<div class="blog_post">
								<div class="blog_post_image">
									<img src="{{ url_for('static', filename='post_pics/'+post.image_file)}}">
									<div class="blog_post_date">
										<a href="#">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div>{{post.date_posted.day}}</div>
												<div>{{month[post.date_posted.strftime("%B")]  }}</div>
											</div>
										</a>
									</div>
								</div>
								<div class="blog_post_content">
									<div class="tags">
										<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
											<li><a href="blog.html">News</a></li>
										</ul>
									</div>
									<div class="blog_post_title"><a href="blog.html">{{ post.title }}</a></div>
									<div class="blog_post_text">
										<p>{{ post.content }}</p>
									</div>
								</div>
							</div>
						{%endfor%}

					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-lg-3 sidebar_col">
					<div class="sidebar">
						<div class="latest_games">
							<div class="sidebar_title_container">
								<div class="sidebar_title"><h3>L'actu du rugby</h3></div>
								<div class="sidebar_subtitle">Via le Rugbyrama</div>
							</div>

							<!-- Latest Games -->
							<div class="latest_games_container text-center">
								<div class="content-section">
										<a class="twitter-timeline" data-lang="fr" data-width="220" data-height="605" href="https://twitter.com/RugbyramaFR?ref_src=twsrc%5Etfw">Tweets by RugbyramaFR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
							</div>

							<!-- Cagegories -->
							<div class="categories">

							</div>

							<!-- Latest Posts -->
							<div class="latest_posts">
								<div class="sidebar_title_container">

								</div>
								<div class="latest_posts_container">

								</div>
							</div>

							<!-- Tickets -->
							<div class="tickets">

							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="row page_nav_row">
				<div class="col">
					<div class="page_nav">
						<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock content %}
