{% extends "layout.html" %}
{%block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/schedule.css')}}">
<script src="{{ url_for('static', filename='js/about.js')}}"></script>

	<!-- Home -->


	<div id="equipe" class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/Fem4.png')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_text">L'équipe <span>féminine</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">

				<!-- About Image -->
				<div class="col-xl-6 order-xl-1 order-2">
					<div class="about_image">
						<div class="background_image" style="background-image:url(static/images/Fem2.jpg)"></div>
						<img src="images/about_1.jpg" alt="">
					</div>
				</div>

				<!-- About content -->
				<div class="col-xl-6 order-xl-2 order-1">
					<div class="about_content">
						<div class="about_content_container">
							<div  class="section_title_container">
								<div class="section_title"><h1>Les Breizh'Barians</h1></div>
							</div>
							<div class="about_title">Rugby fémninin</div>
							<div class="about_subtitle">dans le morbihan</div>
							<div class="about_text">
								<p>Les Breizh'Barians est une équipe de rugby Fénminine sénior (+18 ans) à 15 évoluant en fédérale 2.
								Elles font partie d'un rassemblement regroupant 6 clubs : Le PARC, RCV (Vannes), ROL (Lorient), RLL (Lanester), RCPE (Elven), Grand Champions
							  Les entrainements sont chaque jeudi  à Pluvigner à 20h</p>

							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="section_title_container" style='margin-top: 50px;margin-left: 100px;'>
		<div class="section_title"><h1>Le classement</h1></div>
	</div>

	<div id="class" class="about">
		<div class="container">
			<div class="row">
				<!-- About content -->
				<div class="col-xl-6 order-xl-1 order-2 ">
					<div class="about_content">
						<div class="about_content_container">
							<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5d8c7d5295b58f0a1ae8cf73" src="https://scorenco.com/widget/5d8c7d5295b58f0a1ae8cf73/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/rugby/clubs/pays-d-auray-rugby-club/">Pays d'Auray Rugby Club sur Score'n'co</a>
						</div>
					</div>
				</div>

				<!-- About Image -->
				<div class="col-xl-6 order-xl-2 order-1">
					<div class="about_image">
						<div class="background_image" style="background-image:url(static/images/Fem1.jpg)"></div>
						<img src="images/about_1.jpg" alt="">
					</div>
				</div>

		</div>
	</div>
</div>


			<!-- Schedule -->

			<div id="ent"class="schedule">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container">
								<div class="section_title"><h1>Les entrainements</h1></div>
								<div class="section_subtitle">pour l'équipe féminine</div>
							</div>
						</div>
					</div>
					<div class="row schedule_row">

						<!-- Schedule List -->
						<div class="col-lg-4">
							<div class="schedule_container schedule_a">
								<div class="schedule_title_bar d-flex flex-row align-items-center justify-content-between">
									<div class="schedule_team_name">Féminines</div>
									<div class="schedule_icon"><img src="images/icon_5.svg" alt=""></div>
									<div class="schedule_location">Stade du goh lanno</div>
								</div>
								<div class="schedule_list">
									<ul>
										<li class="d-flex flex-row align-items-start justify-content-start">
											<div>jeudi </div>
											<div class="ml-auto">20h - 22h</div>
										</li>
									</ul>
								</div>
							</div>
						</div>




					</div>
				</div>
			</div>


	<!-- CTA -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="cta_text">Envie de faire partie <span>de l'équipe ?</span></div>
						<div class="cta_button button ml-md-auto"><a href="mailto:rugby_auray@yahoo.fr">Contactez nous</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
