{% extends "layout.html" %}
{%block content %}
<title>Pays d'Auray Rugby Club</title>
<meta name="description" content="pays auray rugby club" />


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_styles.css')}}">

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slide -->
				<div class="home_slide">
					<div class="background_image" style="background-image:url(static/images/parclic.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col-lg-10">
									<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span> Le Pays d'Auray rugby club c'est :</span>
											</div>
										</div>

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span>+ de</span> <span style= "background-color:#D82C76;">300  </span><span>  Licenciés</span>
											</div>
										</div>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="home_slide">
					<div class="background_image" style="background-image:url(static/images/parc3.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col-lg-10">
									<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span style= "background-color:#D82C76;">24  </span><span>  Educateurs et Coachs</span>
											</div>
										</div>

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span >Pour</span> <span style= "background-color:#D82C76;">11 </span><span> équipes</span>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- Slide -->
				<div class="home_slide">
					<div class="background_image" style="background-image:url(static/images/Parc_ben.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col-lg-10">
									<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span style= "background-color:#D82C76;">50  </span><span>  Encadrants/Dirigeants</span>
											</div>
										</div>

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span style= "background-color:#D82C76;">3  </span><span>  Terrains </span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->

				<div class="home_slide">
					<div class="background_image" style="background-image:url(static/images/Auray.png)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col-lg-10">
									<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span style= "background-color:#D82C76;">500 </span><span>  Places pour le publique</span>
											</div>
									 </div>

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span style= "background-color:#D82C76;">Des milliers  </span><span>  de supporters <a  href="https://www.facebook.com/PaysAurayRugbyClub/" ><i class="fa fa-facebook-square" style="font-size:36px"></i></a> </span>
											</div>
									 </div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="home_mobile">

		<!-- Home Slider -->
		<div class="home_slider_container">


				<!-- Slide -->
				<div class="home_slide">
					<div class="background_image" style="background-image:url(static/images/New_1.png)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col-lg-10">
									<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">

										<div  style= "margin-bottom: 5px;">
											<div class="home_text d-flex flex-row align-items-center justify-content-start">
													<span>Bienvenue sur le site du PARC</span>
											</div>
										</div>




									</div>
								</div>
							</div>
						</div>
					</div>
				</div>





		</div>
	</div>

	<!-- News -->


	<!-- Results -->

	<div id ="apropos" class="results">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_title text-center"><h1>A propos du PARC</h1></div>
					</div>
				</div>
			</div>
			<div class="row results_row">
				<div class="col">
					<!--
					<div class="results_title_container text-center">
						<div class="results_title">great win in finals</div>
						<div class="results_subtitle">Mon 25 Sept, Champions League</div>
					</div>
				-->
					<div class="results_container d-flex flex-row align-items-start justify-content-start">


							<div class="result_text">
								<p>Le Pays d'Auray rugby club a été fondé en 1972 et est actuellement le deuxième club du morbihan. Le club est fort de plus de 300 licenciés dont une grande partie (165) ont moins de 18 ans, ce qui fait du PARC un vrai club formateur.
								L'équipe sénior A et B évolue en troisième division de fédérale tandis que l'équipe C participe au championnat térritorial breton. Le PARC c'est aussi une équipe féminines les 'breizhbarian' avec plus de 40 joueuses. Soucieux de la maitrise de la formation, de la préservation
								de sa culture et de ses traditions, le PARC déploie son projet
								sportif au travers :
								de la formation initiale et continue,
								du développement personnel,
								(joueurs et encadrement),
								des choix pédagogiques,
								des contenus techniques</p>
							</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/milestones.jpg')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row milestones_row">

				<!-- Milestone -->
				<div class=" milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_content">
							<div class="milestone_blabla" > Respect,</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class=" milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_content">
							<div class="milestone_blabla" > Intégrité, Transparence </div>
						</div>
					</div>
				</div>



				<!-- Milestone -->
				<div class=" milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_content">
							<div class="milestone_blabla" > Exigence et Plaisir</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Team -->

	<div id = "trombi" class="team">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title"><h1>Les visages du PARC</h1></div>
						<div class="section_subtitle">Saison 2019-2020</div>
					</div>
				</div>
			</div>
			<div class="row team_large_row">

				<!-- Team Item -->
				<div class="col-lg-4">
					<div class="team_large">
						<div class="team_large_image"><img src="{{ url_for('static', filename='images/president.png')}}" alt=""></div>
						<div class="team_large_content text-center">
							<div class="team_large_name"><a href="#">Jean Claude Mothiron</a></div>
							<div class="team_large_title">Président</div>
							<div class="team_large_text">
								<p></p>
							</div>

						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4">
					<div class="team_large">
						<div class="team_large_image"><img src="{{ url_for('static', filename='images/vicepres.png')}}" alt=""></div>
						<div class="team_large_content text-center">
							<div class="team_large_name"><a href="#">Marc Capdeville</a></div>
							<div class="team_large_title">Vice président</div>
							<div class="team_large_text">
								<p></p>
							</div>

						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4">
					<div class="team_large">
						<div class="team_large_image"><img src="{{ url_for('static', filename='images/carolineDrouin.jpg')}}" alt=""></div>
						<div class="team_large_content text-center">
							<div class="team_large_name"><a href="#">Caroline Drouin</a></div>
							<div class="team_large_title">Marraine</div>
							<div class="team_large_text">
								<p></p>
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="row team_small_row">

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/regis.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Regis Loubery</a></div>
							<div class="team_small_title">Coach senior</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/people5.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Sébastien Plouvier</a></div>
							<div class="team_small_title">Coach senior (3/4)</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/people6.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Mickael Garcia</a></div>
							<div class="team_small_title">préparateur physique</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/PieterG.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#"> Pieter Grobler </a></div>
							<div class="team_small_title">Coach senior (avant)</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/people1.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Michel Grzeskowiak</a></div>
							<div class="team_small_title">Ecole de rugby</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/people2.jpg')}}" alt=""></a><div>C/J</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Alexandre Garanger</a></div>
							<div class="team_small_title">Ecole de rugby / joueur </div>
						</div>
					</div>
				</div>


			</div>

			<div class="row team_small_row">

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/ErwanD.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Erwan Drouin</a></div>
							<div class="team_small_title">Coach senior C </div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/ArnaudJ.png')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Arnaud Joubioux</a></div>
							<div class="team_small_title">Coach U18</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/Matilin.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#"> Matilin Mahé </a></div>
							<div class="team_small_title">Coach U16</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/RemyPC.jpg')}}" alt=""></a><div>C/J</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Rémy Pointier</a></div>
							<div class="team_small_title">Ecole de rugby</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/LaurentB.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Laurent Blanc</a></div>
							<div class="team_small_title">Ecole de rugby</div>
						</div>
					</div>
				</div>



				<!-- Team Item -->
				<div class="col-xl-2 col-md-4 col-sm-6">
					<div class="team_small d-flex flex-sm-column flex-row align-items-center justify-content-sm-center justify-content-start">
						<div class="team_small_image"><a href="#"><img src="{{ url_for('static', filename='images/people3.jpg')}}" alt=""></a><div>C</div></div>
						<div class="team_small_content text-sm-center">
							<div class="team_small_name"><a href="#">Philippe Vanier</a></div>
							<div class="team_small_title">Ecole de rugby</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


	<!-- Milestones -->

	<div class="milestones">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/milestones.jpg')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row milestones_row">

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6 milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_icon"><img src="{{ url_for('static', filename='images/icon_1.svg')}}" alt="https://www.flaticon.com/authors/freepik"></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="300" data-sign-after="">0</div>
							<div class="milestone_title">Joueurs</div>
							<div class="milestone_subtitle">Toutes catégories</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6 milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_icon"><img src="{{ url_for('static', filename='images/icon_10.svg')}}" alt="https://www.flaticon.com/authors/freepik"></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="20">0</div>
							<div class="milestone_title">Entrainements</div>
							<div class="milestone_subtitle">Par semaine</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6 milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_icon"><img src="{{ url_for('static', filename='images/icon_7.svg')}}" alt="https://www.flaticon.com/authors/freepik"></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="3">0</div>
							<div class="milestone_title">Terrains</div>
							<div class="milestone_subtitle">Entrainements et matchs</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6 milestone_col">
					<div class="milestone d-flex flex-row align-items-start justify-content-start">
						<div class="milestone_icon"><img src="{{ url_for('static', filename='images/icon_2.svg')}}" alt="https://www.flaticon.com/authors/freepik"></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="5">0</div>
							<div class="milestone_title">Compétitions organisées</div>
							<div class="milestone_subtitle">Par an</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Player of the month -->


		<script type="text/javascript" language="JavaScript">

		randomNumber = Math.floor(Math.random()*14+1);

		window.onload = function() {
		        document.getElementById(randomNumber.toString()).style.display = "block";
		}
	</script>

	<div id='1' class="player" style="display:None;">
	  <div id="joueur" class="container">
	    <div class="row">
	      <div class="col-xl-6">
	        <div class="player_content">
	          <div class="section_title_container">
	            <div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
	            <div class="section_subtitle">présentation</div>
	          </div>
	          <div class="player_name_container d-flex flex-row align-items-end justify-content-start">
	            <div class="player_num">8</div>
	            <div class="player_name">Remy Pointier</div>
	          </div>
	          <div class="player_text">
	            <p>Né en 1989 Rémy commence le rugby à l'age de 7 à Annecy. A 15 ans il intègre le pôle régional à Grenoble .
								 Il jouera ensuite à Vannes à en fédérale 1 de ses 19 à 23 ans. Suite à une blessure il est contraint d'arrêter le rugby pendant 2 ans. Il reprend en 2016 à Auray
								 club pour lequel il est salarié depuis 2014 en tant responsable de l'école de rugby.</p>
	            <p>Rémy à la chance de vivre de sa passion, et aime se démener pour ses co-équipiers. Pour lui le rugby c'est sa deuxième famille.</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-xl-6">
	        <div class="player_images d-flex flex-row align-items-end justify-content-start">
	          <div class="player_image"><img src="{{ url_for('static', filename='images/player_1.png')}}" alt=""></div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id='2' class="player" style="display:None;">
	  <div id="joueur" class="container">
	    <div class="row">
	      <div class="col-xl-6">
	        <div class="player_content">
	          <div class="section_title_container">
	            <div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
	            <div class="section_subtitle">présentation</div>
	          </div>
	          <div class="player_name_container d-flex flex-row align-items-end justify-content-start">
	            <div class="player_num">9</div>
	            <div class="player_name">Valentin Lefranc</div>
	          </div>
	          <div class="player_text">
	            <p>Valentin est né en 1989. Il joue au rugby depuis ses 19 ans et évolue au poste de demie de méléé.
								Ses études l'ont amené à jouer pour de nombreux clubs en france (SPRC, Le Rheu, Gif sur Yvette, Marcoussis) et à l'étranger : Bérisso en Argentine, RC Valencia en Espagne et RC Berlin en Allemagne.
								Le rugby lui à toujours permis de s'intégrer malgré les nombreux voyages. Il est au PARC depuis 2016</p>
	            <p>Il travail en tant que consultant en intelligence artificielle. Ses autres passions sont le windsurf et le football Gaélique.</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-xl-6">
	        <div class="player_images d-flex flex-row align-items-end justify-content-start">
	          <div class="player_image"><img src="{{ url_for('static', filename='images/valentinL.jpg')}}" alt=""></div>

	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id='3' class="player" style="display:None;">
	  <div id="joueur" class="container">
	    <div class="row">
	      <div class="col-xl-6">
	        <div class="player_content">
	          <div class="section_title_container">
	            <div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
	            <div class="section_subtitle">présentation</div>
	          </div>
	          <div class="player_name_container d-flex flex-row align-items-end justify-content-start">
	            <div class="player_num">15</div>
	            <div class="player_name">Julien Puyau </div>
	          </div>
	          <div class="player_text">
	            <p>Plus zèbre que sanglier Julien est né en 1999. Il est rugbyman depuis ses 4 ans et a écumé les clubs du morbihan Lanester/Lorient/Vannes/Gregam/Auray.
								Il a toujours beaucoups joué :Sélection Bretagne (XV et seven) Section Rugby au lycée Lesage à Vannes et est actuellement président d’une association de rugby à 7.
								Il à aussi participé à des match en ligue allemande avec le TSV d’Heidelberg.</p>
	            <p>Sa phrase « L’attitude est un choix : souhaite le meilleur pour devoir t’en donner les moyens. » Julien est également Diplômé d’une licence QSE</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-xl-6">
	        <div class="player_images d-flex flex-row align-items-end justify-content-start">
	          <div class="player_image"><img src="{{ url_for('static', filename='images/julienP.jpg')}}" alt=""></div>

	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id='4' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">9</div>
							<div class="player_name">Gaël Grand</div>
						</div>
						<div class="player_text">
							<p>Gael est né en 2001. Il effectue une L1-SVT à l'université Bretagne Sud sur Vannes, et joue au PARC depuis début septembre 2019.
								Il à vécu toute sa vie à Madrid. Il joue au rugby depuis ses 5 ans au Tasman Rugby Boadilla, comme 9 mais aussi 10. (champion d'Espagne avec la sélection de Madrid,
								 en rugby XV et VII.)
								 </p>
							<p>Depuis que qu'il est au PARC, il apprécie le bon niveau de rugby mais aussi la très bonne ambiance !</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/GaelG.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='5' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">6</div>
							<div class="player_name">Théo Durand </div>
						</div>
						<div class="player_text">
							<p>Né en 1998 Théo a commencé le rugby à l'âge de 5 ans dans le club d'Hennebont
								puis au SKRANK. Il a repris suite à une blessure en cadet avec l'équipe de Lorient jusqu'en junior.
								Après une année de césure rugbystique, il a repris au PARC en sénior en 2016.
								12/13 de formation il évolue désormais au poste de 3eme ligne.</p>
							<p>Diplomé d'un BAC S - Il étudie à l'école d'ingénieur ICAM de Vannes.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/TheoD.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='6' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">4</div>
							<div class="player_name">Antoine Bierent </div>
						</div>
						<div class="player_text">
							<p>Né en 1998 Antoine a commencé le rugby a l'age de 6 ans. Il joue 9 ans à Hennebont, puis 6 ans à Vannes
								avec qui il est champion de France en 2016. Il joue 2 années en espoir à vannes.
								A Auray depuis 2018 il occupe le poste de seconde ligne.
								</p>
							<p>Actuellement en 3ème année STAPS à Arradon.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/AntoineB.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='7' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">13</div>
							<div class="player_name">Johann Kerrand </div>
						</div>
						<div class="player_text">
							<p>Johann est né à Vannes en 1990, après 10 à l'école de rugby de Grand-Champs il jouera 14 ans au RCV de l'école de rugby à la fédérale 1/NationnalB.
								Il a été sélectionné dans les équipes du morbihan, de bretagne à 15 et à 7. Il a également joué un match contre l'Irlande avec le Top 100 nationnal des moins de 17 ans.
								</p>
							<p>Johann est maintenant responsable e-commerce et chargé de communication chez TID-Inox</p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/JohK.png')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='8' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">12</div>
							<div class="player_name">Damien Rolland </div>
						</div>
						<div class="player_text">
							<p>Joueur de Rugby a XV, au poste de 12, et à VII, joueur polyvalent.
								Également passionné de surf et shapeur à ses heures perdus.
								</p>
							<p>Actuellement en 4ème année d'école d'ingénieur en alternance à Vannes, il est
							apprenti Ingénieur Technique chez Prolarge sur projet de sous-traitance de la Marine Nationale.</p>

						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/Damien.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='9' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">13</div>
							<div class="player_name">Pierrick Abiven </div>
						</div>
						<div class="player_text">
							<p>Né en 1993. Pierrick a commencé le rugby à 5 ans au rugby club Plabennec.
								Gravissant les catégories d’âge il a également représenter la Bretagne dans l’équipe régionale.
								A cela s’ajoute une expérience en Argentine où il a joué au Banco Rugby Club de Mendoza pendant 6 mois.
								Il est a Auray auray depuis 2017.
								</p>
							<p>Dans la vie proffessionnel Pierrick travaille à l’observatoire de l’habitat de l’ADIL du Morbihan en tant que chargé d’études habitat.</p>

						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/PierrickA.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='10' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">9</div>
							<div class="player_name">mathias Kervarrec </div>
						</div>
						<div class="player_text">
							<p>Mathias joue au rugby à Auray depuis la catégorie poussin au poste de demi de mêlée. Son père et son parrain jouaient aussi à auray.
								C'est donc une affaire de famille.
								</p>
							<p>En dehors du rugby il joue de la batterie dans un groupe de rock avec des copains du PARC. Il travaille dans l agriculture..</p>

						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/MathiasK.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='11' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">5</div>
							<div class="player_name">Sebastien Murcia </div>
						</div>
						<div class="player_text">
							<p>Sébastien Murcia est né en 1973.
								 Il a commencé le rugby sur le tard à 40 ans.
								 Sportif dan l'ame il d'abord commencé par la natation et le foot.
								 Ensuite la planche à voile, le surf, et maintenant le kitesurf.
								</p>
							<p>Sébastien possède un DESS assurances après sa maitrise de droit.
								Il a travaillé dans les assurances et ensuite en SSII comme consultant pour ensuite s'associer avec son frère pour créer Kite Spirit à Auray.</p>

						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/Seb.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='12' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">10</div>
							<div class="player_name">Sergio Kasper</div>
						</div>
						<div class="player_text">
							<p>Sergio est sud africain et a joué au Griffons et au Blue bulls.
								Il rejoint le PARC en 2019. Sergio à pour ambition de travailler dur pour réussir dans le rugby et la vie.
							    </p>
							<p>Il aime le rugby (bien évidement), voyager et les aventures de vie en générale</p>

						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/SergioK.jpg')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='13' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">14</div>
							<div class="player_name">Thomas Bordas</div>
						</div>
						<div class="player_text">
							<p>Thomas est né le 7 aout 1997 et commence le rugby à 7 ans au CSMG rugby club en région parissionne (92).
								Il  Déménage en Bretagne en 2011 oui il jouera pour le RCV jusqu'à ses 18 ans. Après une pose de 2 ans suite à une blessure il intègre le PARC ou il s'épanouie rugbystiquement et humainement.
							    </p>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
						<div class="player_image"><img src="{{ url_for('static', filename='images/totob.png')}}" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='14' class="player" style="display:None;">
		<div id="joueur" class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="player_content">
						<div class="section_title_container">
							<div class="section_title"><h1>Un(e) joueur(euse) au hasard</h1></div>
							<div class="section_subtitle">présentation</div>
						</div>
						<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
							<div class="player_num">2</div>
							<div class="player_name">Félicien Bordas</div>
						</div>
						<div class="player_text">
							<p>
								Né le 13 mai 1999, talonneur (pizzaiolo) de formation mais surtout joueur polyvalent avec une cheville en mousse.
								Joue au rugby depuis ses 5 ans.
								Former en région parisienne dans le 92 pour arriver en Bretagne en 2011 où il découvre le club du RC vannes,
								il y reste jusqu’à ses 18 ans et obtiendra un titre de champion de France en 2015-2016
								La page du RCV tourné il vie maintenant une nouvelle aventure pleine d’ambition avec le PARC où il a redécouvert un club familiale avec lequel il partage les mêmes valeurs humaines et sportives.
								Il est aussi coach des U8.
					</p>

					</div>
					</div>
					</div>
				<div class="col-xl-6">
					<div class="player_images d-flex flex-row align-items-end justify-content-start">
					<div class="player_image"><img src="{{ url_for('static', filename='images/fefe.png')}}" alt=""></div>

				</div>
			</div>
		</div>
	</div>
</div>

	<!-- News -->

	<div id="news" class="news">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_title"><h1>Les dernières nouvelles</h1></div>
						<div class="section_subtitle">du PARC</div>
					</div>
				</div>
			</div>
			<div class="row news_row">

				{% for post in posts%}
				<!-- News Post -->
				<div class="col-lg-4">
					<div class="news_post">
						<div class="news_post_image">
							<img src="{{ url_for('static', filename='post_pics/'+post.image_file)}}" alt="">
							<div class="news_post_date">
								<a href="#">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div>{{post.date_posted.day}}</div>
										<div>{{month[post.date_posted.strftime("%B")]  }}</div>
									</div>
								</a>
							</div>
						</div>
						<div class="news_post_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="blog.html">News</a></li>
								</ul>
							</div>
							<div class="news_post_title"><a href="blog.html">{{ post.title }}</a></div>
							<div class="news_post_text">
								<p> {{ post.content }}</p>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}


			</div>
		</div>
	</div>

	<!-- CTA -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 style="color:#004376"> S'incrire à la newsletter</h3>
					<form method="POST" action="" enctype="multipart/form-data">
							{{ form.hidden_tag() }}
							<!-- les class sont pour le bootstrap -->
							<fieldset>
									<legend class = 'border-bottom mb-4'>{{ legend }}</legend>

									<div class='form-group'>
										{{ form.mail.label(class="form-control-label",style="color:#004376")}}
										<!-- On ajoute une class error de bootstrap et on les checks -->
											{% if form.mail.errors %}
												{{ form.mail(class="form-control  is-invalid")}}
												<div class="invalid-feedback">
													{% for error in form.mail.errors %}
														<span>{{error}}</span>
													{% endfor%}
												</div>
												{% else %}
													{{ form.mail(class="form-control",style="color:#004376")}}
											{% endif%}
									</div>

							</fieldset>
							<div class='form-group'>
								{{ form.submit(class = "btn btn-primary")}}
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>


{% endblock content %}
