{% extends "layout.html" %}
{%block content %}
<title>Acceuil</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about_home.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about_about.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/schedule.css')}}">
<script src="{{ url_for('static', filename='js/about.js')}}"></script>


	<!-- Home -->

	<div class="home_about d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/senior3.jpg')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_text_about">Les équipes <span>séniors A/B et C</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- News -->

	<div class="breaking_news d-flex flex-row align-items-start justify-content-start">
		<div class="breaking_news_title text-right">LIVE</div>
		<div class="breaking_news_content">
			<div class="breaking_news_slider_container">

					<!-- Slide -->
					<div class="breaking_news_slide">Aucun live en cours</div>


			</div>
		</div>
	</div>


		<!-- About -->

		<div class="about">
			<div class="container">
				<div class="row">

					<!-- About Image -->
					<div class="col-xl-6 order-xl-1 order-2">
						<div class="about_image">
							<div class="background_image" style="background-image:url(static/images/senior2.jpg)"></div>
							<img src="images/about_1.jpg" alt="">
						</div>
					</div>

					<!-- About content -->
					<div class="col-xl-6 order-xl-2 order-1">
						<div class="about_content">
							<div class="about_content_container">
								<div class="section_title_container">
									<div class="section_title"><h1>about PARC</h1></div>
								</div>
								<div class="about_title">mission&vision</div>
								<div class="about_subtitle">Resoect for the game</div>
								<div class="about_text">
									<p>L'équipe A joue en fédérale 3 la B en réserve de fédérale 3 et la C en 3eme division térritoriale bla blaNullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
									<p>Nam turpis nulla, ullamcorper volutpat faucibus ut, facilisis in elit. Nam blandit diam vel felis porta, vitae congue nulla feugiat. Vestibulum rhoncus odio elit, at aliquet sem posuere vel.</p>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	<!-- Results -->

	<div class="results">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_title text-center"><h1>Prochains matchs</h1></div>
					</div>
				</div>
			</div>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="57c00e354f89480bd9177cf0" src="https://scorenco.com/widget/57c00e354f89480bd9177cf0/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/rugby/clubs/pays-d-auray-rugby-club/">Pays d'Auray Rugby Club sur Score'n'co</a>
			<!--<div class="row results_row">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="57c012c157c07b0bcadb2b6d" src="https://scorenco.com/widget/57c012c157c07b0bcadb2b6d/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/rugby/clubs/pays-d-auray-rugby-club/">Pays d'Auray Rugby Club sur Score'n'co</a>
			</div>-->

		</div>
	</div>

	<!-- Upcoming & Latest -->

	<div class="upcoming_latest">
		<div class="container">
			<div class="row">
				<!-- Upcoming Events -->
				<div class="col-xl-6">
					<div class="section_title_container">
						<div class="section_title light"><h1>Classement (équipe A)</h1></div>
						<div class="section_subtitle">Resultats et calendrier</div>
					</div>
					<div class="custom_list_a">
						<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="57c04e1e7fda100ba2aefe62" src="https://scorenco.com/widget/57c04e1e7fda100ba2aefe62/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/rugby/clubs/pays-d-auray-rugby-club/">Pays d'Auray Rugby Club sur Score'n'co</a>
					</div>
				</div>

				<!-- Latest Games -->
				<div class="col-xl-6 custom_lists_col">
					<div class="section_title_container">
						<div class="section_title light"><h1>Classement (équipe B)</h1></div>
						<div class="section_subtitle">Resultats et calendrier</div>
					</div>
					<div class="custom_list_b">
						<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="57c013d6dae43c0bda7db53d" src="https://scorenco.com/widget/57c013d6dae43c0bda7db53d/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe><a style="font-size:11px" target="_blank" href="https://scorenco.com/rugby/clubs/pays-d-auray-rugby-club/">Pays d'Auray Rugby Club sur Score'n'co</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/milestones.jpg')}}" data-speed="0.8"></div>
		<div class="container">
			<div class="row milestones_row">


			</div>
		</div>
	</div>

		<!-- Schedule -->

		<div class="schedule">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container">
							<div class="section_title"><h1>Les entrainements</h1></div>
							<div class="section_subtitle">Pour les trois équipes</div>
						</div>
					</div>
				</div>
				<div class="row schedule_row">

					<!-- Schedule List -->
					<div class="col-lg-4">
						<div class="schedule_container schedule_a">
							<div class="schedule_title_bar d-flex flex-row align-items-center justify-content-between">
								<div class="schedule_team_name">Equipe A/B</div>
								<div class="schedule_icon"><img src="images/icon_5.svg" alt=""></div>
								<div class="schedule_location">Stade de la forêt</div>
							</div>
							<div class="schedule_list">
								<ul>
									<li class="d-flex flex-row align-items-start justify-content-start">
										<div>Mardi</div>
										<div class="ml-auto">19h30 - 21h</div>
									</li>

									<li class="d-flex flex-row align-items-start justify-content-start">
										<div>Vendredi</div>
										<div class="ml-auto">19h30 - 21h</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Schedule List -->
					<div class="col-lg-4">
						<div class="schedule_container schedule_b">
							<div class="schedule_title_bar d-flex flex-row align-items-center justify-content-between">
								<div class="schedule_team_name">Equipe C</div>
								<div class="schedule_icon"><img src="images/icon_5.svg" alt=""></div>
								<div class="schedule_location">Stade du goh lanno</div>
							</div>
							<div class="schedule_list">
								<ul>
									<li class="d-flex flex-row align-items-start justify-content-start">
										<div>Vendredi</div>
										<div class="ml-auto">19h30 - 21h</div>
									</li>

								</ul>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

	<!-- CTA -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="cta_text">Envie de faire partie <span>de l'équipe ?</span></div>
						<div class="cta_button button ml-md-auto"><a href="#">Contactez nous</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
