{% extends "layout.html" %}
{%block content %}
<title>Auray rugby sponsor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/team_responsive.css')}}">

	<!-- Home -->

<div style="padding-bottom: 0px; padding-top: 200px;">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/team_page.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="home_text"><span>Les partenaires</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Info -->

	<div class="info">
		<div class="container" style="margin-bottom: 100px;">
			<div class="row">

				<!-- Info Image -->
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="info_image">
						<a href="https://www.cite-marine.fr/">
						<div class="background_image" style="background-image:url(static/images/CiteMarine.png)"></div>
						</a>
						<img src="{{ url_for('static', filename='images/CiteMarine.png')}}" alt="">
					</div>
				</div>

				<!-- Info Content -->
				<div class="col-lg-6 order-lg-2 order-1">
					<div class="info_image">
						<a href="http://www.auray-quiberon.fr/auray-quiberon-terre-atlantique-3.html">
						<img src="{{ url_for('static', filename='images/AQTA.jpg')}}" style="display: block;" alt="">
						</a>
					</div>
				</div>
				</div>
			</div>
		</div>


		<div class="container" style="margin-bottom: 100px;">
			<div class="row">

				<!-- Info Image -->
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="info_image">

						<img src="{{ url_for('static', filename='images/CDB.png')}}" style="display: block;" alt="">
					</div>
				</div>

				<!-- Info Content -->
				<div class="col-lg-6 order-lg-2 order-1">
					<div class="info_image">
						<a href="http://www.eprimgroupe.fr/">
						<img src="{{ url_for('static', filename='images/eprim.png')}}" style="display: block;" alt="">
						</a>
					</div>
				</div>
				</div>
			</div>
		</div>


	<div class="container" style="margin-bottom: 100px;">
		<div class="row">

			<!-- Info Image -->
			<div class="col-lg-6 order-lg-1 order-2">
				<div class="info_image">
					<a href="https://www.brets.fr/">
						<img src="{{ url_for('static', filename='images/brets.png')}}" style="display: block;" alt="">
					</a>
				</div>
			</div>

			<!-- Info Content -->
			<div class="col-lg-6 order-lg-2 order-1">
				<div class="info_image">
					<a href="https://www.auray-voyages.com/">
						<img src="{{ url_for('static', filename='images/AurayV.png')}}" style="display: block;" alt=""></a>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="container" style="margin-bottom: 100px;">
		<div class="row">

		<!-- Info Image -->
		<div class="col-lg-6 order-lg-1 order-2">
			<div class="info_image">
				<a href="http://jptallec.fr/">
					<img src="{{ url_for('static', filename='images/Tallec.jpg')}}" style="display: block;" alt="">
				</a>
			</div>

		</div>

		<!-- Info Content -->
		<div class="col-lg-6 order-lg-2 order-1">
			<div class="info_image">
				<img src="{{ url_for('static', filename='images/alredis.jpg')}}" style="display: block;" alt="">
			</div>
		</div>

	</div>
</div>

<div class="container" style="margin-bottom: 100px;">
	<div class="row">

	<!-- Info Image -->
	<div class="col-lg-6 order-lg-1 order-2">
		<div class="info_image">
			<a href="https://www.ouestboissons.fr/">
				<img src="{{ url_for('static', filename='images/ouestB.jpg')}}" style="display: block;" alt="">
			</a>
		</div>

	</div>

	<!-- Info Content -->
	<div class="col-lg-6 order-lg-2 order-1">
		<div class="info_image">
			<img src="{{ url_for('static', filename='images/superU.jpg')}}" style="display: block;" alt="">
		</div>
	</div>

</div>
</div>

<div class="container" style="margin-bottom: 100px;">
	<div class="row">

	<!-- Info Image -->
	<div class="col-lg-6 order-lg-1 order-2">
		<div class="info_image">
			<a href="http://www.fidouest.com/">
			<img src="{{ url_for('static', filename='images/fidouest.png')}}" style="display: block;" alt="">
			</a>
		</div>

	</div>

	<!-- Info Content -->
	<div class="col-lg-6 order-lg-2 order-1">
		<div class="info_image">
			<img src="{{ url_for('static', filename='images/veolia.jpg')}}" style="display: block;" alt="">
		</div>
	</div>

</div>
</div>

<div class="container" style="margin-bottom: 100px;">
	<div class="row">

	<!-- Info Image -->
	<div class="col-lg-6 order-lg-1 order-2">
		<div class="info_image">
			<img src="{{ url_for('static', filename='images/axa.jpg')}}" style="display: block;" alt="">
		</div>

	</div>

	<!-- Info Content -->
	<div class="col-lg-6 order-lg-2 order-1">
		<div class="info_image">
			<a href="https://www.sturno.com/">
			<img src="{{ url_for('static', filename='images/sturno.jpg')}}" style="display: block;" alt="">
			</a>
		</div>
	</div>

</div>
</div>


		</div>


	<!-- CTA -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="cta_text">Vous voulez devenir <span>Partenaire?</span></div>
						<div class="cta_button button ml-md-auto"><a href="mailto:rugby_auray@yahoo.fr">Contactez nous</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
